
.apprenant-one-modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

.apprenant-one {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    background-color: white;
  }

  .apprenant-one .containernouveau {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
  }

  .apprenant-one button:nth-child(2) {
    margin-left: 1%;
  }

  .apprenant-one header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px;
    color: #6d5f7b;
    button {
      background-color: #f5f5f5;
      border: none;
      padding: 8px 16px;
      font-size: 1.5rem;
      border-radius: 5px;
    }
  }
  .apprenant-one .containernouveau .top{
    display: flex;
    width: 100%;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
  }
  .apprenant-one .containernouveau .middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input{
        outline: none;
        padding: .75rem;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
    }
    label{
        margin-bottom: 4px;
    }
  }

  .apprenant-one .containernouveau .top .cercle1 {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background: #008F89;
    position: relative;
    z-index: 2;
  }
  .apprenant-one .containernouveau .top .cercle2 {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #008F89;
    background: rgb(237, 252, 252);
    position: relative;
    z-index: 2;
  }


  .apprenant-one .containernouveau .top hr{
    flex: 1;
    width: 100%;
    margin: 0 1rem;
    height: 0;
    align-self: center;
  }

  .apprenant-one .flex-col {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 25%;
    margin: 1%;
    font-size: 1vw;
  }
  .apprenant-one .flex-col input{
    width: 100%;
    height: 90%;
    border: #333333 1px solid;
    font-size: 1vw;
  }

  .apprenant-one .bottom{
    margin-top: 10%;
    display: flex;
    a{
        background-color: #018f88;
        color: white;
    }
  }

  .apprenant-one a{
    background-color: #f5f5f5;
    border: none;
    padding: 1.5% 3%;
    border-radius: 5px;
    cursor: pointer;
    color: #6d5f7b;
  }