.conteneurreferentiels{
    height : 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.conteneurreferentiels .headreferentiel{
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.headreferentiel .referentielslistes{
    font-size: 1vw;
}
.conteneurreferentiels .bodyreferentiels{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels{
    flex: 3;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel{
    width: 24%;
    height: 49%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel .troispoint{
    font-size: 2vw;
    margin-bottom: 8%;
    margin-right: 100%;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel img{
    width: 100%;
    height: 50%;
    margin-left: 0;
    margin-bottom: 5%;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel form button{
    font-size: 1vw;
    background-color: transparent;
    border: none;
    
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel form button .nomreferentiel{
    font-size: 1vw;
    margin-bottom: 5%;
    text-align: center;
}
.conteneurreferentiels .bodyreferentiels .referentielsreferentiels .referentiel .etatreferentiel{
    font-size: 0.9vw;
    color: #027512;
    text-align: center;
}

.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel{
    flex: 1;
    height: 49%;
    background-color: #fff;
    border-radius: 10px;
    padding: 1%;
}
.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form{
    height: 100%;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form label{
    font-size: 1vw;
    margin-bottom: 1%;
}

/* .conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form .icone1{
    position: absolute;
    left: 1%;
    top: 30%;
    font-size: 1.5vw;
    padding-left: 10%;
}
.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form .icone2{
    position: absolute;
    left: 1%;
    top: 65%;
    font-size: 1.5vw;
    padding-left: 10%;
} */
.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: transparent;
    height: 18%;
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    padding-left: 18%;
    color: #6d6d6d;
    text-transform: uppercase;
}

.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: transparent;
    height: 20%;
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    padding-left: 18%;
    color: #6d6d6d;
    text-transform: uppercase;
}
.conteneurreferentiels .bodyreferentiels .nouveauxreferentiel form button{
    font-size: 1vw;
    background-color: #008F89;
    height: 18%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    color: #fff;
    text-transform: uppercase;
    margin-left: 25%;
}

.switch {
	display: inline-block;
	position: relative;
	width: 20%;
	height: 20%;
	cursor: pointer;
	overflow: hidden;
}
.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #99b4df;
    border-radius: 20px;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 30px;
	height: 30px;
	background: rgb(21, 93, 247);
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}
.switch input:checked + span:before {
	left: 50%;
}
