.nouveaureferentiels{
    height : 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.nouveaureferentiels .promonouveaureferentiels{ 
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.nouveaureferentiels .promonouveaureferentiels .promosnouveaureferentiels{
    font-size: 1vw;
}
.nouveaureferentiels .bodynouveaureferentiels{
    height : 100%;
    display: flex;
    background-color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 6%;
}
.nouveaureferentiels .bodynouveaureferentiels .numeronouveaureferentiels{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nouveaureferentiels .bodynouveaureferentiels .numeronouveaureferentiels .numero1nouveaureferentiels{
    width: 3vw;
    height: 3vw;
    background-color: #008F89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
}
.nouveaureferentiels .bodynouveaureferentiels .numeronouveaureferentiels .traitnouveaureferentiels{
    width: 0.1vw;
    height: 14%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%
}
.nouveaureferentiels .bodynouveaureferentiels .numeronouveaureferentiels .numero2nouveaureferentiels{
    width: 3vw;
    height: 3vw;
    color: #fff;
    background-color: #008F89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 1vw;
    font-weight: bold;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout {
    height: 100%;
    display: flex;
    flex-direction: column;

}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .bodynouveaureferentielsdroit{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .bodynouveaureferentielsdroit .bodynouveaureferentielsdroit1{
    margin-top: 0;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .bodynouveaureferentielsdroit .bodynouveaureferentielsdroit2{
    margin-top: 40%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection span{
    color: #222222;
    margin-bottom: 8%;
    font-size: 1vw;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form div{
    margin-top: 1%;
    width: 100%;
    height: 8%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form div input{
    font-size: 5vw;
    margin-left: 2%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form div label{
    font-size: 1vw;
    color: rgb(83, 83, 83);
    margin-left: 2%;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form .button{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form .button .back{
    width: 30%;
    height: 100%;
    font-size: 1vw;
    background-color: #e6eeee;
    color: #000;
    border: rgb(250, 253, 252) 1px solid;
    border-radius: 5px;
    margin-right: 15%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nouveaureferentiels .bodynouveaureferentiels .bodynouveaureferentielsdroittout .selection form .button .creer{
    width: 30%;
    height: 100%;
    font-size: 1vw;
    background-color: #008F89;
    color: #fff;
    border: #027e78 1px solid;
    border-radius: 5px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.referentiel-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
    font-size: 22px;
  
   
  }
  
  .referentiel-selection .checkbox1 {
    margin-left: 2%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .referentiel-selection .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    padding: 2rem;
  }
  
  .referentiel-selection .top {
    display: flex;
    justify-content: space-between;
    width: fit-content;
  
    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 8%;
    }
    hr {
      rotate: 90deg;
      width: 100%;
      margin-bottom: 50%;
      margin-top: 50%;
    }
  }
  
  .referentiel-selection .circle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #018f88;
    position: relative;
    z-index: 2;
  }
  
  .referentiel-selection button{
    background-color: #018f88;
    color: #f5f5f5;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .referentiel-selection form #back{
    
    background-color: rgb(237, 235, 235);
    color: black;
  }
  .referentiel-selection button:nth-child(2){
    margin-left: 1%;
    background-color: #018f88;
    color: #f5f5f5;
  }